@model Ostoslista.ViewModels.ComboViewModel

@{
    ViewBag.Title = "Muokkaa listaa";
}

<h2>Muokkaa</h2>

<h3>@Model.ShoppingListViewModel.Name</h3>

@using (Html.BeginForm("Edit", "ShoppingLists", FormMethod.Post))
{
    @Html.ValidationSummary()

    <div class="form-group form-inline">
        @Html.TextBoxFor(m => m.ShoppingListItemViewModel.Name, new { @class = "form-control", placeholder = "Uusi ostos", autofocus = true })
        @Html.LabelFor(m => m.ShoppingListItemViewModel.Quantity)
        @Html.TextBoxFor(m => m.ShoppingListItemViewModel.Quantity, new { @type = "number", @class = "form-control", id = "newItemQuantity", @Value = 1 })
        @Html.HiddenFor(m => m.ShoppingListViewModel.Name)
        @Html.HiddenFor(m => m.ShoppingListViewModel.Id)
        <button type="submit" class="btn btn-primary" id="addNewItemButton">Lisää</button>
    </div>
}

@if (Model.ShoppingListViewModel.Items.Count == 0)
{
    <h5>Listalla ei vielä rivejä. Lisää ostoksia listalle.</h5>
}

<table class="table table-condensed table-hover" id="itemsTable">
    <tbody>
        @foreach (var item in Model.ShoppingListViewModel.Items)
        {
            <tr>
                <td>
                    @using (Html.BeginForm("DeleteItem", "ShoppingLists", new { id = item.Id }))
                    {
                        <button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
                        @item.Name
                    }
                    
                </td>
                <td>
                    @*<button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-minus-sign"></span></button>*@
                    @item.Quantity
                    @*<button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus-sign"></span></button>*@
                </td>
            </tr>
            }
    </tbody>
</table>


<a href="@Url.Action("Create", "Shares", new { id = Model.ShoppingListViewModel.Id })" class="btn btn-primary">Jaa lista</a>