@model Ostoslista.ViewModels.ComboViewModel

@{
    ViewBag.Title = "Muokkaa listaa";
}

<h2>Muokkaa</h2>

<h3>@Model.ShoppingListViewModel.Name</h3>

@using (Html.BeginForm("Edit", "ShoppingLists", FormMethod.Post))
{
    @Html.ValidationSummary()

    <div class="form-group form-inline">
        @Html.TextBoxFor(m => m.ShoppingListItemViewModel.Name, new { @class = "form-control", placeholder = "Uusi ostos", autofocus = true })
        @Html.LabelFor(m => m.ShoppingListItemViewModel.Quantity)
        @Html.TextBoxFor(m => m.ShoppingListItemViewModel.Quantity, new { @type = "number", @class = "form-control", id = "newItemQuantity", @Value = 1 })
        @Html.HiddenFor(m => m.ShoppingListViewModel.Name)
        @Html.HiddenFor(m => m.ShoppingListViewModel.Id)
        <button type="submit" class="btn btn-primary" id="addNewItemButton">Lisää</button>
    </div>
}

@if (Model.ShoppingListViewModel.Items.Count == 0)
{
    <h5>Listalla ei vielä rivejä. Lisää ostoksia listalle.</h5>
}

<table class="table table-hover" id="itemsTable">
    <tbody>
        @foreach (var item in Model.ShoppingListViewModel.Items)
        {
            <tr>
                <td>
                    @using (Html.BeginForm("DeleteItem", "ShoppingLists", new { id = item.Id }))
                    {
                        <button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
                        @item.Name
                    }
                </td>
                <td>
                    @item.Quantity
                </td>
            </tr>
            }
    </tbody>
</table>

@if (Model.ShoppingListViewModel.Shares.Count() > 0)
{
    <h4>Listan käyttäjät: </h4>
    <ul class="list-inline">
        @foreach (var share in Model.ShoppingListViewModel.Shares)
        {
            <li>@share.UserName</li>
        }
    </ul>
}

@if (Model.ShoppingListViewModel.IsOwner)
{
    <a href="@Url.Action("Create", "Shares", new { id = Model.ShoppingListViewModel.Id })" class="btn btn-primary">Lisää käyttäjä</a>
    <a href="@Url.Action("Edit", "Shares", new { id = Model.ShoppingListViewModel.Id })" class="btn btn-primary">Muokkaa oikeuksia</a>
}

<div style="margin-top: 30px;">@Html.ActionLink("Takaisin listoihin", "Index", "ShoppingLists", new { @class = "btn btn-primary" })</div>