@model List<Ostoslista.ViewModels.ShoppingListViewModel>

@{
    ViewBag.Title = "Ostoslistat";
}

<h4>
    @ViewBag.Message
</h4>

<h2>Omat ostoslistat</h2>

@if (Model.Count == 0)
{
    <h4>Ei ostoslistoja. Luo uusi valitsemalla valikosta "Luo uusi"</h4>
}

<ul class="list-group">
    @foreach (var list in Model)
    {
        <li class="list-group-item">
            @using (Html.BeginForm("Delete", "ShoppingLists", new { id = list.Id }))
            {
                <button class="btn btn-danger btn-xs remove-item-button" data-toggle="tooltip" title="Poista lista" 
                    onclick="return confirm('Poistetaanko lista?')"><span class="glyphicon glyphicon-remove"></span>
                </button>
                <a href="@Url.Action("Edit", "ShoppingLists", new { id = list.Id })">@list.Name</a>
                <span class="badge" data-toggle="tooltip" title="Rivejä listalla">@list.Items.Count</span>
                <span class="pull-right" data-toggle="tooltip" title="Luontipäivä">@list.AddedDate</span>
            }
        </li>
    }
</ul>

@section scripts
{
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>    
}
