@model Ostoslista.Models.ShoppingList

@{
    ViewBag.Title = "Lista";
}

<h2>@Model.Name @Html.ActionLink("Muokkaa", "Edit", "ShoppingLists", new { id = Model.Id }, new { @class = "btn btn-success" } )</h2>

<table class="table table-condensed table-hover" id="items-table">
    <tbody>
        @foreach (var item in Model.Items)
        {
            if (!item.Bought)
            {
                <tr class="list-item" id="list-item-@item.Id">
                    <td>
                        @using (Html.BeginForm("View", "ShoppingLists", new { itemId = item.Id, listId = Model.Id, bought = true }, FormMethod.Post, null))
                        {
                            <button class="btn btn-link">@item.Name</button>
                        }
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@if (Model.Items.Any(i => i.Bought))
{
    <h4>Ostettu: </h4>
}

<table class="table table-condensed table-hover" id="bought-items-table">
    <tbody>
       @foreach (var item in Model.Items)
       {
           if (item.Bought)
           {
            <tr class="bought-list-item" id="bought-list-item-@item.Id">
                <td>
                    @using (Html.BeginForm("View", "ShoppingLists", new { itemId = item.Id, listId = Model.Id, bought = false }, FormMethod.Post, null))
                    {
                        <button class="btn btn-link">@item.Name</button>
                    }
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                    @Ostoslista.Utils.TimeConverter.ConvertToEetTime(item.TimeBought.Value)
                </td>
            </tr>
           }
       }
    </tbody>
</table>

@*@section scripts
{
    <script>
        $(document).ready(function () {
            $('.list-item').click(function () {
                $('.hidden-header').css("visibility", "visible");
                var clickedRow = $(this);
                var col1 = clickedRow.find(":first-child").text();
                var col2 = clickedRow.find(":nth-child(2)").text();
                $('#bought-items-table > tbody').append('<tr><td>' + col1 + '</td><td>'+ col2 + '</td></tr>');
                clickedRow.remove();
            });
        });
    </script>
}*@

<div style="margin-top: 30px;"><a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-primary">Takaisin</a></div>