@model Ostoslista.ViewModels.ShareListViewModel

@{
    ViewBag.Title = "Jaa lista";
}

<h2>Jaa lista "@Model.Name"</h2>

@using (Html.BeginForm("Create", "Shares"))
{
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.HiddenFor(m => m.ShoppingListId)
        @Html.HiddenFor(m => m.Name)
        @Html.LabelFor(m => m.ReceiverUsername)
        @Html.TextBoxFor(m => m.ReceiverUsername, new { @class = "form-control", placeholder = "email", autofocus = true })
        @Html.LabelFor(m => m.EditAllowed)
        @Html.CheckBoxFor(m => m.EditAllowed)
    </div>
    <button type="submit" class="btn btn-primary">Jaa</button>
}