@model List<Ostoslista.ViewModels.EditShareViewModel>
@{
    ViewBag.Title = "Muokkaa listan oikeuksia";
}
@if (ViewBag.Message != null)
{
    <div class="alert alert-success">@ViewBag.Message</div>
}

<h2>Muokkaa listan '@ViewBag.ListName' oikeuksia</h2>

@if (Model.Count() == 0)
{
    <h5>Listalle ei ole lisätty käyttäjiä</h5>
}

<table>
    @foreach (var share in Model)
    {
        <tr>
            <td>
                @share.UserName
            </td>
            <td>
                @using (Html.BeginForm("Edit", "Shares", new { listId = share.ListId, shareId = @share.ShareId, allowEdit = !@share.EditAllowed }))
                {
                    if (@share.EditAllowed)
                    {
                        <button class="btn btn-sm btn-warning">Poista muokkausoikeus</button>
                    }
                    else
                    {
                        <button class="btn btn-sm btn-success">Lisää muokkausoikeus</button>
                    }
                }
            </td>
            <td>
                @using (Html.BeginForm("Delete", "Shares", new { listId = share.ListId, shareId = share.ShareId }))
                {
                    <button class="btn btn-sm btn-danger">Poista lista käyttäjältä</button>
                }
            </td>
        </tr>
    }
</table>

<div style="margin-top: 30px;">@Html.ActionLink("Palaa listaan", "Edit", "ShoppingLists", new { id = ViewBag.ListId }, new { @class = "btn btn-primary" })</div>